Source: libtaverna-parent-java
Section: java
Priority: optional
Maintainer: Apache Taverna <dev@taverna.incubator.apache.org>
Uploaders: Stian Soiland-Reyes <stain@apache.org>
Build-Depends: debhelper (>= 9), cdbs, default-jdk, maven-debian-helper (>= 1.5)
Build-Depends-Indep: libmaven-bundle-plugin-java, libmaven-scm-java, libapache-pom-java (>= 10) 
Standards-Version: 3.9.5
Vcs-Git: git://github.com/taverna/taverna-maven-parent.git
Vcs-Browser: https://github.com/taverna/taverna-maven-parent
Homepage: http://taverna.incubator.apache.org/

Package: libtaverna-parent-java
Architecture: all
Depends: ${misc:Depends}, ${maven:Depends}
Suggests: ${maven:OptionalDepends}
Description: Apache Taverna (incubating) Maven parent
 General POM-file parent for Apache Taverna projects

